.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #4B8CDB;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4B8CDB;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #4B8CDB;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #4B8CDB;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #4B8CDB;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4B8CDB;
}

#homepage-content {
    padding: 20px;
}

.symbol {
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    margin: 10px;
}

.symbol .imgbox {
    height: auto;
    box-sizing: border-box
}

.symbol .imgbox img {
    display: block;
    width: 100%;
    margin: 10px auto 0
}

.symbol-details {
    position: absolute;
    bottom: -100%;
    width: 80%;
    background: #fff;
    box-sizing: border-box;
    transition: .9s
}

.symbol:hover .symbol-details {
    bottom: 10%
}

.symbol-details h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%
}

#File {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-outline-secondary {
    border-color: #DB6C60 !important;
}

.btn-outline-secondary:hover {
    background-color: #DB6C60 !important;
}

.acceptFileInput {
    display: none;
}

.customAcceptFileInput {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#content {
    width: 100%;
}

.navbar {
    width: 100%;
}

.dropdown-menu {
    float: left;
}

.spinner-border {
    width: 5rem; 
    height: 5rem;
}

#DataTable {
    width: 100%;
}

#infoModalImage {
    width: 100px;
    height: 100px;
}

#drawContent {
    margin: auto;
    right: 0;
}

.errorContent {
    padding: 50px;
}